
.texto-azul {
    color: #000000;
    font-family: krub;
    font-size: 90px;
}

.texto-branco {
    font-size: 60px;
    font-family: krub;
    font-weight: bolder;
    color: #fff;
    padding-top: 80px;
}

.nav-link {
    color: #000000;
    margin-left: 10px;
    width: 50px;
    align-items: flex-end;
}

#subtitulo1 {
    text-align: justify;
    width: fit-content;
}

#comece1 {
    margin-left: 770px;
    margin-top: 120px;
    font-size: 10px;
    display: inline-block;
}

#comece2 {
    margin-left: 720px;
    margin-top: 120px;
    font-size: 10px;
    display: inline-block;
}

#blackwhite1 {
    margin-right: 200px;
}

.texto-branco2 {
    font-size: 60px;
    font-family: krub;
    color: #fff;
    font-weight: lighter;
}

.texto-negrito {
    font-weight: bold;
}

.texto1 {
    align-items: baseline;
}

.navbar{
    background-color: #f1f1f1;
}

.nav-item {
    font-family: Oswald;
    padding-right: 120px;
    background-color: transparent;
}

#titulo-inicio {
    font-size: 110px;
}

#titulo2-inicio {
    font-size: 60px;
    font-family: krub;
    font-weight: lighter;
}

#titulo3 {
    font-size: 30px;
    font-family: krub;
    font-weight: lighter;
    letter-spacing: 5px;
    padding: 75px 50px 0px;


}

#titulo4 {
    font-size: 30px;
    font-family: krub;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-top: 75px;


}

#titulo5 {
    font-size: 30px;
    font-family: krub;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-top: 75px;
    margin-left: -100px;
    margin-top: 80px;

}

#titulo10 {
    font-size: 110px;
    margin-top: 80px;
}

.card-text {
    color: #000000;
    font-family: Oswald;
    font-size:large ;
    line-height: 35px;
    letter-spacing: 1px;
}

.card-text2 {
    color: #000000;
    font-family: krub;
    font-size: larger;
    letter-spacing: 3px;
}

.texto-cinza {
    color: #000000;
    font-family: Oswald;
    font-size: larger;
    letter-spacing: 3px;
    text-align: justify;
}

#subtitulo-inicio {
    font-size: 20px;
}

.botao {
    margin-top: 50px;
    margin-left: 1px;
}

.botao-roxo {
    padding: 12px 25px;
    background-color: #aa84f9;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-family: Oswald;
    width: 110px;
}

.botao-roxo:hover {
    padding: 12px 25px;
    background-color: #000000;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-family: Oswald;
}

.botao-roxo2 {
    padding: 12px 25px;
    background-color: #aa84f9;
    border: none;
    border-radius: 0px;
    color:#000000;
    font-family: Oswald;
    width: 110px;
}

.botao-roxo2:hover {
    padding: 12px 25px;
    background-color: #000000;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-family: Oswald;
}

.botao-azul {   
    padding: 12px 25px;
    background-color:#000000;
    border: none;
    border-radius: 0px;
    color:#fff;
    font-family: Oswald;
    width: 110px;
    align-items: center;
    text-align: center;
}

.botao-azul2 {   
    padding: 12px 25px;
    background-color:#000000;
    border: none;
    border-radius: 0px;
    color:#fff;
    font-family: Oswald;
    width: 190px;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.botao-azul3 {   
    padding: 12px 25px;
    background-color:#000000;
    border: none;
    border-radius: 0px;
    color:#fff;
    font-family: Oswald;
    width: 190px;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 60px;
}



.botao-azul:hover {
    padding: 12px 25px;
    background-color: #ae66ff;
    border: #000000 ;
    color: #fff;

}

.botao-azul2:hover {   
    padding: 12px 25px;
    background-color:#ffffff;
    border: none;
    border-radius: 0px;
    color:#ae66ff;
    font-family: Oswald;
    width: 190px;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.botao-branco {
    padding: 12px 20px;
    background-color: transparent;
    border: none;
    color: #000000;    
    font-family: Oswald;
    align-content: center;
}

#inicio {
    align-items: flex-start;
    background-image: url("../img/Circle\ 4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f1f1f1;
    background-position: 350px;
}

#segunda {
    padding: 80px 0 ;
    background-color: #000000;
    color:#fff;
    font-size: large;
}

.edition2022 {
    align-items: flex-end;
}

#terceira {
    background-color: #f1f1f1;
    background-image: url("../img/Circle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.ln3 {
    padding-top: 250px;
    font-size: 35px;
    font-family: Krub;
    letter-spacing: 3px;
}

.ln4 {
    padding-top: 250px;
    font-size: 35px;
    font-family: Krub;
    letter-spacing: 3px;
    padding-left: 250px;
}

.ln5 {
    padding-top: 100px;
}

.ln6 {
    padding-top: 250px;
    font-size: 35px;
    font-family: Krub;
    letter-spacing: 3px;
    margin-left: 250px;
}

.img0{
    margin-left: 1px;
}
.img2 {
    padding-top: -2px;
    width: 20px;
    padding-right: 8px;
    padding-bottom: 10px;
    text-align: start;
    align-items:stretch;
    margin-right: 30px;
    margin-top: 7px;
    margin-left: 10px;
}

.img22 {
    letter-spacing: 2px;
}

.img3 {
    padding-left: 80px;
}

.img6 {
    padding-left: 10px;
}

.img7 {
    width: 35px;
    text-align: center;
    margin-left: 70px;
    margin-top: 500px;
}

.img8 {
    width: 35px;
    margin-left: 5px;
}

.img10{
    width: 10px;
    margin-top: 150px;
}

.bg3 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.linha10{
    margin-left:;
    font-size: 10px;
    margin-bottom: 30px;
    margin-top: 150px;
}

#quarta {
    align-items: center;
    background-color: #f1f1f1;
}

.card {
    border-radius: 30px;
    border-color: #fff;
    background-color: #f1f1f1;
    border-width: 3px;
    padding: 15px;
    text-align: center;
    align-content: center;
    box-shadow: 5px 5px 5px 5px rgb(220, 220, 220);
}

.cardcol {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover {
    border-radius: 30px;
    border-color: #ae66ff;
    background-color: #f1f1f1;
}

#quinta{
    padding-top: 100px;
    background-color: #f1f1f1;
}

#sexta {
    align-items: center;
    background-color: #f1f1f1;
    padding-top: 70px;
}

#setima {
    background-color: #f1f1f1;
    background-image: url("../img/Circle\ 7\ bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#setima1 {
    padding-top: 100px;
}

#setima2 {
    padding-top: 50px;
}

.setima2 {
    align-items: baseline;
    padding-top: 40px;
}

.texto7 {
    text-align:justify;
    width: 700px;
}   

#oitava {
    background-color:#f1f1f1;
    background-image: url("../img/Circle\ 8\ bg.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    padding-bottom: 100px;
}

.whyus {
    margin-top: 150px;
}

#nona {
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("../img/Rectangle\ 2.png");
    background-position: center;
}

#seta {
    width: 100px;
    margin-top: 300px;
    margin-left: 500px;
}

#seta:hover {
    width: 110px;
}

#decima {
    background-color:#f1f1f1;
}

#aspas {
    width: 50px;
}

#aspas2 {
    width: 50px;
    align-items: center;
    margin-top: 10px;
    align-items: flex-end;
    align-content: flex-end;
    margin-left: 280px;
}

.avaliacao{
    margin-top: 100px;
}

.avaliacao1 {
    align-items: baseline;
    font-weight: bolder;
    font-size: 20px;
    font-family: krub;
    margin-top: 20px;
}

.avaliacao2 {
    align-items: baseline;
    font-weight: bolder;
    font-size: 12px;
    font-family: Oswald;
    margin-top: 26px;
    color: #8e9095;
}

.avaliacao3 {
    align-items: baseline;
    font-weight: bolder;
    font-size: 13px;
    font-family: krub;
    margin-top: 17px;
    text-align: justify;
    width: 330px;
}


#fivestar {
    width: 200px;
    margin-top: 0px;

}

#fotoaluno {
    width: 220px;
}

#fotoaluno2 {
    width: 220px;
}

#decimaprimeira {
    background-color:#f1f1f1;
    align-items: center;
}

.decimaprimeira {
    margin-top: 150px;
}

.texto11 {
    margin-top: 50px;
    font-family: krub;
    font-weight: bolder;
    font-size: 50px;
    align-content: center;
    text-align: center;
}

.img11 {
    width: 700px;
}

.texto12 {
    font-family: krub;
    font-weight: lighter;
    font-size: 45px;
    align-content: center;
    text-align: center;
    letter-spacing: 3px;
}

.texto13 {
    align-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
    font-family: krub;
    margin-bottom: 60px;
}

.form-control {
    align-items: center;
    align-content: center;
    text-align: left;
    width: 400px;
    margin-top: 40px;
    margin-left: 120px;
    font-family: krub;
    border-radius: 0px;
    border-color: #000000;
    border-width: 2px;
    background-color: #f1f1f1;
    color: #000000;
    font-weight: bolder;
}

.form-control2 {
    align-items: center;
    align-content: center;
    text-align: left;
    width: 400px;
    height: 50px;
    margin-top: 40px;
    margin-left: 133px;
    font-family: krub;
    border-radius: 0px;
    border-color: #ffffff;
    border-width: 2px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
}

#rodape {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #000000;
    margin-top: 0;
    color: #fff;
    text-align: start;
}

.texto1ft {
    font-family: krub;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 2px;
    display: inline-block;
}

.texto2ft {
    font-family: krub;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: ;
    display: inline-block;
    text-align: end;
    margin-left: 300px;
    line-height: 40px;
}

.tvertical {
    vertical-align: middle;
    display: table-cell4;
    -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg); 
  transform: rotate(-90deg);
  font-size: 15px;
  padding-bottom: 410px;
  width: 19px 155px;
}

.tvertical2 {
    vertical-align: middle;
    display: table-cell4;
    -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 15px;
  padding-bottom: 410px;
  width: 19px 155px;
  margin-left: 400px;
  font-size: 15px;
    font-family: Krub;
    letter-spacing: 3px;
}

.tvertical3 {
    font-size: 15px;
    letter-spacing:;
    white-space: nowrap;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 249px;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    align-items: center;
}

.tvertical4 {
    font-size: 15px;
    letter-spacing: 0px;
    white-space: nowrap;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 249px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    align-items: center;
    margin-top: 300px;
}

#menu-rodape {
    margin-top: 30px;
    margin-left: -55px;
    text-align: start;
    color: #fff;
}

#menu-rodape li{
    display:grid;
    color: #f5f6fa;
    padding: 0 25px;
    font-family: krub;
    font-size: 20px;
    line-height: 35px;
    font-weight: lighter;
}

#marcas {
    margin-top: 30px;
    margin-left: 50px;
}

#marcas:hover {
    color: #aeafb4;
}

#marcas li {
    display: inline-block;
    color: #616368;
    font-size: 30px;
    padding: 0 15px;
}

#marcas li:hover {
    color: #f5f6fa;
}

.direitos{
    color: #616368;
    margin-top: 60px;
}

#follow {
    margin-left: 200px;
}